ul{
    list-style-type: none;
}

li.twitter{
    background: url(../img/077_twitter-512.png) no-repeat left top;
    background-size: contain;
    height: 30px;
    width: 30px;
    padding-left: 30px;
}

li.instagram{
    background: url(../img/instagram_icon.png) no-repeat left top;
    background-size: contain;
    height: 30px;
    width: 30px;
    padding-left: 30px;
}

li.facebook{
    background: url(../img/facebook_icon.png) no-repeat left top;
    background-size: contain;
    height: 30px;
    width: 30px;
    padding-left: 30px;
}